* {
    font-size: 12pt;
}

.container-position {

    width: 100%;
    padding: 30px;
    padding-top: 30px;
    overflow-x: hidden;
}

table {
    width: 100%;
    font-size: 12pt;
    table-layout: fixed;
}

.table-container {
    width: 100%;
    //Scroll tablice
    overflow-x: auto;
}

.mat-elevation-z8 {
    margin-top: 24px;
}

.mat-column-actions {
    width: 180px;
}

.mat-column-email {
    width: 170px;
}

.mat-column-date {
    width: 120px;
}

.mat-column-phone {
    width: 130px;
}

.mat-column-postalCode {
    width: 150px;
}

.mat-column-city {
    width: 150px;
}

.mat-column-address {
    width: 200px;
}

.mat-column-lastName {
    width: 150px;
}

.mat-column-name {
    width: 100px;
}