<div class="container-position">
  <div>
    
    <button mat-raised-button color="primary" (click)="unosKontakta()" style="cursor: pointer;">
      Dodaj korisnika
    </button>

    <!-- <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->

   

  </div>
  <mat-form-field class="search-form-field" style="margin-top: 10px; padding-top: 10px; width: 50%;" >
    <input matInput placeholder="Search" autocomplete="off" [(ngModel)]="searchKey"  (keyup)="applyFilter()">
    <button mat-icon-button matSuffix aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div>
    
    <h3 *ngIf="loadedContacts.length< 1" style="color:black"> Još nema dodanih korisnika</h3>

    <div class="table-container">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading" matSort>

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Prezime </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Adresa </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>


        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Grad </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="postalCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Poštanski broj </th>
          <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Broj telefona </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>



        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Datum rođenja</th>
          <td mat-cell *matCellDef="let element"> {{element.date | date:'dd.MM.yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions" style="align-items: center;" stickyEnd>
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button [routerLink]="['/autentifikacija/uredi', element.id]" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDialog( element.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button [routerLink]="['/autentifikacija/pregled', element.id]" mat-icon-button color="accent">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
  <p *ngIf="isLoading">Loading...</p>

  <div *ngIf="error"
    style="width: 70%; margin: auto; background-color: rgba(247, 80, 80, 0.3); padding: 1%; border: solid rgb(66, 37, 37) 1px; border-radius: 8px;">
    <h1 style="font-size:20pt; color: rgb(97, 48, 48);">Dogodila se neočekivana greška</h1>
    <p style="color:  rgb(66, 37, 37)"> {{ error }}</p>
    <button mat-raised-button color="warn" (click)="onHandleError()" style="cursor: pointer;">
      Okey
    </button>
  </div>

</div>