<mat-toolbar>
    <span>{{isLoginMode? "PRIJAVA" : "REGISTRACIJA"}}</span>
</mat-toolbar>
<div *ngIf="error"
    style="width: 70%; margin: auto; background-color: rgba(247, 80, 80, 0.3); padding: 1%; border: solid rgb(66, 37, 37) 1px; border-radius: 8px; text-align: center;">
    <!-- <h1 style="font-size:20pt; color: rgb(97, 48, 48);">{{ error }}</h1> -->
    <p style="color:  rgb(66, 37, 37)"> {{ error }}</p>

</div>

<mat-card *ngIf="isLoading" style="text-align: center;">
    <mat-spinner></mat-spinner>
</mat-card>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" ngModel name="email" required email>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Lozinka</mat-label>
                <input matInput placeholder="Password" name="password" ngModel required name="password" minlength="8"
                    type="password">
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" [disabled]="!authForm.valid" type="submit">{{isLoginMode ?
                    "Prijavi se" : "Registriraj se"}}</button>
            </mat-card-actions>
        </form>
        <div class="forgot-password" *ngIf="isLoginMode" style="text-align: center;">
            <a href="#">Zaboravili ste lozinku?</a>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSwitchMode()">{{isLoginMode? "Prebaci na registraciju" :
            "Prebaci na prijavu"}}</button>
    </mat-card-actions>
</mat-card>