<div class="profile">
  <h1 style="font-size: 18pt; text-align: center;
    padding-top: 4%; color: black;">Profil korisnika</h1>
  <div class="user-info">
    <mat-form-field style="width: 100%;">
      <mat-label>Ime i prezime:</mat-label>
      <input matInput [(ngModel)]="user.firstName" [disabled]="!isEditMode" placeholder="Vaše ime">
    </mat-form-field>
    <mat-form-field *ngIf="isEditMode" class="email">
      <mat-label>Email:</mat-label>
      <input matInput [(ngModel)]="user.email" disabled>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-flat-button color="primary" (click)="toggleEditMode()">{{ isEditMode ? 'Spremi' : 'Uredi' }}
      <mat-icon>edit</mat-icon></button>
  </div>
  <div class="change-password" *ngIf="isEditMode" style="color: black;">
    <h3>Izmjena lozinke</h3>
    <form (ngSubmit)="changePassword()">
      <button mat-raised-button type="submit" (click)="generateResetPasswordToken()">Generiraj token za resetiranje
        lozinke</button>
    </form>
  </div>
</div>