<mat-toolbar>
  <span>ZABORAVLJENA LOZINKA</span>
</mat-toolbar>

<mat-card style="text-align: center;">
</mat-card>

<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" #authForm="ngForm">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" [(ngModel)]="email" required email style="width: 100%;">
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button color="primary" (click)="sendLink()" [disabled]="authForm.invalid">Send Link</button>
    </div>
    <div style="padding-top: 10px;">
      <a style="text-decoration: none; cursor: pointer;" [routerLink]="['/prijava']">Back to <span>Login</span></a>
    </div>
  </mat-card-content>
</mat-card>