.close-snackbar {
    position: absolute;
    right: 10px;
    top: 0px;
  
    font-size: 20px;
    font-weight: 400;
  }
  
  // .close-snackbar:hover {
  //     color: rgb(170, 170, 170);
  // }
  