* {
    font-size: 12pt;
}

.container-position {

    width: 100%;
    padding: 30px;
    padding-top: 30px;
    overflow-x: hidden;
}

table {
    width: 100%;
    // table-layout: fixed;
    border: 1px solid;
}

.table-container {
    width: 100%;
    //Scroll tablice
    overflow-x: auto;
    min-height: 297px
}

.mat-elevation-z8 {
    margin-top: 24px;
}

@mixin tableSirina($sirina) {
    width: $sirina;
    min-width: $sirina;
    max-width: $sirina;
}


.mat-column-actions {
    @include tableSirina(150px);

}

.mat-column-email {
    $sirina: 200px;
    min-width: $sirina;
    // max-width: $sirina;
}

.mat-column-date {
    @include tableSirina(150px);
    text-align: center;


}

.mat-column-phone {
    @include tableSirina(130px);
}

.mat-column-postalCode {
    text-align: center;
    margin-left: 10px;

    @include tableSirina(160px);

}

.mat-column-city {
    @include tableSirina(150px);

}

.mat-column-address {
    @include tableSirina(200px);

}

.mat-column-lastName {
    @include tableSirina(150px);

}

.mat-column-name {
    @include tableSirina(100px);

}

.mat-column-phone {
    text-align: center;

    @include tableSirina(180px);

}