<div class="button-position">
  <button mat-raised-button color="primary" (click)="vratiNaImenik2()" style="cursor: pointer;">
    Vrati se natrag
  </button>
</div>
<div>
  <div class="container-form">
    <form class="example-form" style="display: flex; flex-direction: column;" [formGroup]="signupForm"
      (ngSubmit)="isEditMode ? onNoviKontakt() : onOsvjeziKontakt()">
      <table class="example-full-width" cellspacing="0">
        <tr style="display:flex; flex-wrap: wrap;">
          <td><mat-form-field class="example-full-width">
              <mat-label>Ime</mat-label>
              <input matInput formControlName="name" type="text">
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">Molim Vas unesite
                ime!</span>
            </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
              <mat-label>Prezime</mat-label>
              <input matInput formControlName="lastName" type="text">
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched">Molim Vas unesite
                prezime!</span>
            </mat-form-field></td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Adresa</mat-label>
              <textarea matInput placeholder="Jarunska 14" formControlName="address"></textarea>
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('address').valid && signupForm.get('address').touched">Molim Vas unesite
                adresu</span>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr style="display:flex; flex-wrap: wrap;">
          <td class=""><mat-form-field class="example-full-width">
              <mat-label>Grad</mat-label>
              <input matInput placeholder="Zagreb" formControlName="city" type="text">
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched">Molim Vas unesite grad</span>
            </mat-form-field></td>
          <td class="">
            <mat-form-field class="example-full-width">
              <mat-label>Poštanski broj</mat-label>
              <!--\d predstavlja bilo koji numerički znak, a {5} znači da se taj znak mora ponoviti točno 5 puta.
              this.value.replace(/[^0-9]/g, '' -> zamjenjuje sve znakove koji nisu brojevi s praznim stringom..
              -->
              <input matInput maxlength="5" pattern="\d{5}" placeholder="10000" value="" formControlName="postalCode"
                type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('postalCode').valid && signupForm.get('postalCode').touched">Molim Vas unesite
                poštanski broj</span>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr style="display:flex; flex-wrap: wrap; ">
          <td class=""><mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <input type="telephone" matInput placeholder="+385 916224421" formControlName="phone">
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('phone').valid && signupForm.get('phone').touched">Molim Vas unesite broj
                telefona</span>
            </mat-form-field></td>
          <td>
            <div class="date-picker-wrapper">
              <mat-form-field class="example-full-width">
                <mat-label>Izaberite datum rođenja</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" [max]="maxDate">
                <span style="color: rgb(248, 49, 49);"
                  *ngIf="!signupForm.get('date').valid && signupForm.get('date').touched">Molim Vas unesite datum
                  rođenja</span>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td><mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" email>
              <span style="color: rgb(248, 49, 49);"
                *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Molim Vas unesite email</span>
            </mat-form-field></td>
        </tr>
      </table>
      <section style="padding-left: 2%;">
        <div class="example-button-row">
          <button mat-button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">{{
            isEditMode
            ? "Spremi" : "Osvježi" }}</button>
        </div>
      </section>

    </form>

  </div>