<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <h3>Imenik </h3>
  <mat-icon style="margin-left: 7px;">contact_emergency
  </mat-icon>

</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <p class="title" routerLink="profil-korisnika" style="cursor: pointer;">{{"Vi ste"}}</p>

    <h4 class="name" routerLink="profil-korisnika" style="cursor: pointer;">{{firstName}}</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="imenik" routerLinkActive="active" *ngIf="isAuthenticated">
      <mat-icon style="color: white;">contact_mail</mat-icon>
      <span style="color: white;">Imenik</span>
    </button>
    <button mat-button class="menu-button" routerLink="prijava" routerLinkActive="active" *ngIf="!isAuthenticated">
      <mat-icon style="color: white;">login</mat-icon>
      <span style="color: white;">Autentifikacija</span>
    </button>
    <button mat-button class="menu-button" routerLinkActive="active" *ngIf="isAuthenticated" (click)="odjaviSe()">
      <mat-icon style="color: white;">logout</mat-icon>
      <span style="color: white;">Odjava</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <!-- <ng-content *ngIf =""></ng-content> -->
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>