@use '@angular/material' as mat;
@use 'sass:map';

// @import '@angular/material/theming';
// @include mat-core();

// $my-theme-primary: mat-palette($mat-teal);
// $my-theme-accent: mat-palette($mat-light-blue, A700);
// $my-theme-warn: mat-palette($mat-red, A200);

// $my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);
// @include angular-material-theme($my-theme);








@include mat.core();

$my-accent: mat.define-palette((50: #edf7f3,
      100: #d1ece0,
      200: #b3e0cc,
      300: #94d3b7,
      400: #7dc9a7,
      500: #66c098,
      600: #5eba90,
      700: #53b285,
      800: #49aa7b,
      900: #389c6a,
      A100: #e9fff4,
      A200: #b6ffd9,
      A400: #83ffbf,
      A700: #69ffb1,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000, )),
    500);

$my-primary: mat.define-palette((50: #edf3f7,
      100: #d1e0ec,
      200: #b3cce0,
      300: #94b7d3,
      400: #7da7c9,
      500: #6698c0,
      600: #5e90ba,
      700: #5385b2,
      800: #497baa,
      900: #386a9c,
      A100: #e9f4ff,
      A200: #b6d9ff,
      A400: #83bfff,
      A700: #69b1ff,
      contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000, )),
    500);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);
@include mat.snack-bar-theme($my-theme);

