form {
    margin: auto;
}

.button-position {
    width: auto;
    padding: 30px;
    padding-top: 30px;
}

.example-form {
    min-width: 50px;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    display: block;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.mat-dialog-container {
    width: 100%;
}

.date-picker-wrapper {
    display: flex;
}

.date-picker-wrapper .example-full-width {
    flex: 1;
    margin-right: 8px;
    width: 100%;
}

table {
    tr {
        td {
            padding-right: 4px;
            padding-left: 8px;
            width: 50%
        }
    }

    mat-form-field {
        margin-right: 12px;
    }

    .mat-form-field-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

input:disabled,
textarea:disabled {
    opacity: 1;
    cursor: not-allowed;
    color: #888686;
}

.viewModeDarker ::ng-deep .mdc-floating-label {
    mat-label {

        opacity: 1;
        color: #888686;
    }
}